!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title {{ page.title }}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    {% css_asset_tag styles %}
    = "- /_assets/css/application.scss"
    = "- /_assets/css/syntax.scss"
    {% endcss_asset_tag %}

    {% javascript_asset_tag modernizr %}
    = "- /_assets/js/vendor/custom.modernizr.js"
    {% endjavascript_asset_tag %}

  %body
    .site
      .header
        %h1.title
          %a{href: "/"} {{ site.name }}
        %a.extra{href: "/"} home
      
      {{ content }}
      
      .footer
        .contact
          %p
            Your Name
            %br/
            What You Are
            %br/
            you@example.com
        .contact
          %p
            %a{href: "https://github.com/yourusername"} github.com/yourusername
            %br/
            %a{href: "https://twitter.com/yourusername"} twitter.com/yourusername
            %br/

    {% javascript_asset_tag javascripts %}
    = "- /_assets/js/vendor/jquery.js"
    = "- /_assets/js/vendor/foundation.js"
    = "- /_assets/js/application.js"
    {% endjavascript_asset_tag %}
